<table>
    <thead>
        <tr>
            <th colspan="{{colSpan}}">Product Info</th>
        </tr>
    </thead>
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>

    <tr>
        <td>{{productName}}</td>
        <td>{{productPrice}}</td>
        <td>{{productQnt}}</td>
    </tr>
</table>

<!--        Interpolation       -->

<h1>------------------------Interpolation------------------------------</h1>

<h3>Sending Data Component To view(One Way)</h3>
{{meInterpolation}}
<br>

<h3>Calculation Using Interpolation</h3>
{{20 + 25}}

<br>

<h3>Ternary Operator In Interpolation</h3>
{{ternary ? ternary : "If Null From Componet This Message Will Show"}}

<h3>Concatination In Interpolation</h3>
{{meInterpolation + " == Welcome Brother"}}
<br>

<h3>Find String Length In Interpolation</h3>
{{meInterpolation.length}}
<br>

<h3>Call Mehod In Interpolation</h3>
{{meMethod()}}
<br>

<!--        Data Binding         -->

<h1>------------------------Data Binding------------------------------</h1>

<h3>For String</h3>
<p [innerHtml]='meInterpolation'> </p>

<h3>Data Binding(used for Non String) Vs Interpolation(used for String)</h3>
<input type="text" [value]='meInterpolation' [disabled]='isStatus' />

<h3>Another Syntax</h3>
<input type="text" bind-value='meInterpolation' bind-disabled='isStatus' />