/* You can add global styles to this file, and also import other style files */

/*  Applied Global   */

table, th, td {
    border: 1px groove blueviolet;
    padding: 10px;
    margin-bottom: 20px;
}