/* You can add global styles to this file, and also import other style files */

/*  Applied Global   */

body{
    background-color: tomato;
}

table, th, td {
    border: 1px groove blueviolet;
    padding: 10px;
    margin-bottom: 20px;
}

.parent {
    padding: 50px;
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    margin-top: 50px;
}